</body>
<script>
    const viewse = document.getElementById("viewse");
    const startpage = document.getElementById("startpage");
    const dotse = document.getElementById("dotse");
    const dotnu = document.getElementById("dotnu");
    dotse.addEventListener("click", () => {
        startpage.style.display = "none";
        viewse.style.display = "block";
    })
</script>
</html>