<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8P4E312SNJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8P4E312SNJ');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=1.0, user-scalable=0" />
    <title>www.AXFR.se</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta property="og:title" content="Newly Added & Updated .SE/.NU" />
    <meta property="og:image" content="https://www.axfr.se/dns.png" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://www.axfr.se/dns.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://www.axfr.se/dns.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="https://www.axfr.se/dns.png"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>