<%- include("partials/header.ejs") %>
<div id="startpage">
    <h1>www.axfr.se</h1>
    <div>
        <p>🆕</p>
    </div>
    <div>
       <h2>Newly Added | | Updated Domains For:</h2>
    </div>
    <div>
        <button id="dotse">.SE</button><br>
        <button id="dotnu">.NU</button>
    </div>
</div>
<script>
    const viewse = document.getElementById("viewse");
    const startpage = document.getElementById("startpage");
    const dotse = document.getElementById("dotse");
    const dotnu = document.getElementById("dotnu");
    dotse.addEventListener("click", () => {
        location.href="/se"
    })
    dotnu.addEventListener("click", () => {
        location.href="/nu"
    })

</script>
<%- include("partials/footer.ejs") %>