<%- include("partials/header.ejs") %>
<div>
  <div id="datecontainer">
    <p>Click Date Or Amount To View Names</p>
    <div id="showdates"></div>
  </div>
</div>
<div>
  <a id="goback">Back 2 TLD List</a>
</div>
<script>
    let tableFromJson = () => {
      const nuDates = <%- result %>;

      let col = [];
      for (let i = 0; i < nuDates.length; i++) {
        for (let key in nuDates[i]) {
          if (col.indexOf(key) === -1) {
            col.push(key);
          }
        }
      }

      const table = document.createElement("table");

      let tr = table.insertRow(-1);

      const dateAndAmount = ["Date Added | | Updated", "Amount Added | | Updated"]
      for (let i = 0; i < dateAndAmount.length; i++) {
        let th = document.createElement("th");
        th.innerHTML = dateAndAmount[i];
        tr.appendChild(th);
      }

      for (let i = 0; i < nuDates.length; i++) {
        tr = table.insertRow(-1);

        for (let j = 0; j < col.length; j++) {
          let tabCell = tr.insertCell(-1);
          let cell = nuDates[i][col[j]];
          let link = location + "/" + JSON.stringify(nuDates[i].date) + "/0"
          tabCell.innerHTML = `<a href="${link}">${cell}</a>`;
        }
      }

      const divShowData = document.getElementById("showdates");
      divShowData.innerHTML = "";
      divShowData.appendChild(table);
    };

  (function() {
      tableFromJson()
  })();
  const goback = document.getElementById("goback");
  goback.href = location.origin
</script>
<%- include("partials/footer.ejs") %>
