<%- include("partials/header.ejs") %>
<div id="domaincontainer">
  <p>
    <strong>&lt;&nbsp;</strong><strong id="page">1</strong><strong> / </strong
    ><strong><%- maxPage %></strong><strong>&nbsp;&gt;</strong>
  </p>
  <div id="showdomains"></div>
  <div id="nav">
    <button id="prev">&lt;&lt;&lt;</button>
    <button id="next">&gt;&gt;&gt;</button>
  </div>
</div>
<div>
  <a id="goback">Back 2 Date List</a>
</div>
<script>
  
    let nuDomains = [];
    let infPage = 0;
        
    let tableFromJson = () => {
      console.log("rantable")
      
      let col = [];
      for (let i = 0; i < nuDomains.length; i++) {
        for (let key in nuDomains[i]) {
          if (col.indexOf(key) === -1) {
            col.push(key);
          }
        }
      }

      const table = document.createElement("table");

      let tr = table.insertRow(-1);

      for (let i = 0; i < nuDomains.length; i++) {
        tr = table.insertRow(-1);

        for (let j = 0; j < col.length; j++) {
          let tabCell = tr.insertCell(-1);
          let cell = nuDomains[i][col[j]];
          tabCell.innerHTML = cell;
        }
      }

      const divShowData = document.getElementById("showdomains");
      divShowData.innerHTML = "";
      divShowData.appendChild(table);
    };


  const page = document.getElementById("page");
  const prev = document.getElementById("prev");
  const next = document.getElementById("next");
  const goback = document.getElementById("goback");
  let prevpage = parseInt(location.pathname.split("/")[3]) - 1;
  let nextpage = parseInt(location.pathname.split("/")[3]) + 1;
  page.textContent = nextpage;

  if (parseInt(location.pathname.split("/")[3]) === 0) {
    prev.disabled = true;
  }
  if (parseInt(location.pathname.split("/")[3]) === <%- maxPage %> - 1) {
    next.disabled = true;
  }

  prev.addEventListener("click", () => {
    location.href = "/" + location.pathname.split("/")[1] + "/" + location.pathname.split("/")[2] + "/" + prevpage;
  });
  next.addEventListener("click", () => {
    location.href = "/" + location.pathname.split("/")[1] + "/" + location.pathname.split("/")[2] + "/" + nextpage;
  });
  goback.href = location.origin + "/nu"

  const loadMore = () => {
      console.log(`http://localhost:8080/nu/inf/20221001/${infPage}`)
      fetch(`http://localhost:8080/nu/inf/20221001/${infPage}`)
      .then(response=>response.json())
      .then(data=>{
        nuDomains = data;
      })
      infPage++;
      tableFromJson();
      console.log(nuDomains)
    }

  window.addEventListener('scroll',()=>{
    if(window.scrollY + window.innerHeight >= 
    document.documentElement.scrollHeight){
      loadMore();
    }
})
(function() {
      loadMore()
      //tableFromJson()
  })();
</script>
<%- include("partials/footer.ejs") %>
