#viewse {
    display: none;
    width: 98vw;
    height: 97vh;
    grid-template-rows: 25% 75%;
    border:1px solid black;
    justify-content: space-evenly;
}

#startpage {
    display: grid;
    width: 98vw;
    height: 97vh;
    grid-template-rows: 25% 75%;
    border:1px solid black;
    justify-content: space-evenly;
}

#startpage > div > button {
    border: none;
    border-radius: 25px;
    font-size: x-large;
    width: 100%;
    margin-top: 20px;
}

#showdates {
    border:1px solid black;
}

#domaincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#domaincontainer > p {
    margin-top: 2px;
    margin-bottom: 0px;
}

table { 
    border-collapse: collapse; 
}

tr {
    border:1px solid black;
}

td {
    width: 20vw;
    padding: 5px;
}